body {
    background-color: whitesmoke;
}

#main-page div {
    /*    background-color: red;*/
    border: 1px solid black;
/*    height: 100px;*/
}

#main-page {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 0 auto;
}

/*----------main-header start------------*/
.main-header {
    grid-column-start: 1;
    grid-column-end: 4;
    display: grid;
    grid-template-columns: 20% auto;
    background-color: gainsboro;
}

.logo i {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 0;
    left: 0;
    margin: 0 auto;
    text-align: center;
    color: red;
    font-size: 100px;
}

.logo {
    height: 100px;
    position: relative;
}

.rotate-center {
    -webkit-animation: rotate-center 2s ease-in-out infinite both;
    animation: rotate-center 5s linear infinite both;
}

@-webkit-keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/*-------------main-header end----------*/
/*-------main-nav start---------*/
.main-nav {
    grid-column-start: 1;
    grid-column-end: 4;
}

.main-nav ul {
    text-align: center;
}

.main-nav ul li {
    display: inline-block;
    width: 23%;
}
/*--------main-nav end----------*/


/* ----------main-img3 start-------*/
.main-img3 {
    grid-column-start: 1;
    grid-column-end: 4;  
    text-align: center;
    font-size: 20px;
    color: cyan;
    height: 200px;
    display: grid;
    grid-template-columns: auto auto auto;
    overflow: hidden;
}
.main-img3back { 
/*    height: 100%;*/
    position: relative;
    width: 200px;
    background-image: url(../img/paper-1914901_640.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
/*    box-sizing: border-box;*/
}
.img3text {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 0;
    left: 0;
    margin: 0 auto;
    text-align: center;
    max-width: 100%;
    max-height: 100%; 
    font-size: 50px;
}
.img3text:hover {
    background-color: red;
    opacity: 0.6;
    color: azure;
}
/* -----main-img3 end--------*/


/*---------main-imgAndDesc start--------*/

/*---------main-imgAndDesc end------*/

/*-------main_icon start-------*/
.main_icon {
    grid-column-start: 1;
    grid-column-end: 4;
}
.icon {
    text-align: center;
    font-size: 50px;
    width: 24%;
    display: inline-block;
}
.fa-facebook {
    color: darkblue;
    animation: rotate-scale-down 4s linear infinite none;
    /* animation-direction: reverse; */
}
@keyframes rotate-scale-down {
    0% {
        transform: rotate(0)
        scale(1)
    }
    50% {
        transform: rotate(180deg)
        scale(0.7)
    }
    100% {
        transform: rotate(360deg)
        scale(1)
    }
}
.fa-github {
    animation: move ease-in-out 4s;
}
   @keyframes move { 
     0% { 
         transform: translateX(0px)
    }
    100% {
        transform: translateX(150px)
    }
}
.fa-opera {
    color: crimson;
}
.fa-bluetooth {
    color: midnightblue;
}
/*------main_icon end-------*/
