body {
    background-color: whitesmoke;
}

#main-page div {
/*    background-color: red;*/
    border: 1px solid black;
    height: 100px;
}
#main-page {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 0 auto;
}
/*----------main-header start------------*/
.main-header {
    grid-column-start: 1;
    grid-column-end: 4;
    display: grid;
    grid-template-columns: 20% auto;
    background-color: gainsboro;
}
.logo i {
    position: absolute;
    transform: translateY(-50%);
    color: red;
    top: 50%;
    right: 0;
    left: 0;
    margin: 0 auto;
    font-size: 100px;
    text-align: center
}
.logo {
    position: relative;
}
/*-------------main-header end----------*/
/*-------main-nav start---------*/
.main-nav {
    grid-column-start: 1;
    grid-column-end: 4;
}
.main-nav ul {
    text-align: center;
}
.main-nav ul li {
    display: inline-block;
    width: 20%;
}
/*
.main-nav ul li:last-child {
    float: right;
}
*/
/*--------main-nav end----------*/